* {
    font-family: "Poppins", sans-serif;
}
#section1
{
    display: flex;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;


}
h1{
    font-family: "Poppins", sans-serif;

}
#text
{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 2.5;

}
#text2
{
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 2.5;

}
#text3
{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 15px;

}
#overtext
{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: -85px;

}
#emojis
{
    display:flex;
    justify-content: center;
    margin-top: 80px;
}
#image
    {
        display: flex;
        justify-content: center;
      }
